$dark: #19181F;
$medium: #232226;
$regular: #514E59;
$light: #BBB6CD;

$success: #79FFC7;
$success-opaque: rgba($success, 0.25);

$warning: #FFA979;

$error: #FF7979;
$error-opaque: rgba($error, 0.25);

$info: #78C8F4;
$info-opaque: rgba($info, 0.25);

$okay: #F4FF79;

$theme: #B9ABF1;
$theme-opaque: rgba($theme, 0.25);